{% load static %}
<!DOCTYPE html>
<html>

<head>
    
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />

    <title>Beauty Skin{% block title %}{% endblock %}</title>
    <link rel="icon" type="image/x-icon" href="{% static '/publica/images/favicon.ico'%}" />

    <!-- slider stylesheet -->
    <link rel="stylesheet" type="text/css"
          href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.1.3/assets/owl.carousel.min.css" />

    <link rel="stylesheet" type="text/css" href="{% static '/publica/css/bootstrap.css' %}" />

    <link href="{% static '/publica/css/style.css' %}" rel="stylesheet" />
    <link href="{% static '/publica/css/style.scss' %}" rel="stylesheet" />
    <link href="{% static '/publica/css/responsive.css' %}" rel="stylesheet" />

    </head>
    <body class="sub_page">
        <div class="hero_area">
            <header class="header_section">
                <div class="container-fluid">
                <nav class="navbar navbar-expand-lg custom_nav-container pt-3">
                    <a class="navbar-brand" href="{% url 'index' %}">
                    <img src="{% static 'publica/images/logo.png' %}" alt="" />
                    <span>
                        BS
                    </span>
                    </a>
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                    </button>
        
                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <div class="d-flex ml-auto flex-column flex-lg-row align-items-center">
                        <ul class="navbar-nav  ">
                        <li class="nav-item active">
                            <a class="nav-link" href="{% url 'index' %}">Inicio <span class="sr-only">(current)</span></a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'nosotros' %}"> Nosotros </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'tratamientos' %}"> Tratamientos </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'experiencias' %}"> Experiencias </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'contacto' %}">Contactanos</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'indexapp' %}">APP</a>
                        </li>
                        </ul>
                    </div>
                    </div>
                </nav>
            </div>
            </header>
        </div>
        
        <main>
            {% block content %}{% endblock %}
        </main>
        
        {% include "footer.html"%}

        
    {% block scripts %}{% endblock %}


</body>    
</hrml>