{% extends "base.html" %}
{% load static %}
{% block content%} 
<section class="hero_section">
  <div class="hero_detail">
    <h1>
      <span>
        B
      </span>
      <span>
        e
      </span>
      <span>
        a
      </span>
      <span>
        u
      </span>
      <span>
        t
      </span>
      <span>
        y
      </span>
      <span>
        
      </span>
      <span>
        S
      </span>
      <span>
        k
      </span>
      <span>
        i
      </span>
      <span>
        n
      </span>
    </h1>
    <h3>
      
      </h2>
  </div>
  <div class="hero_btn-box">
    <a href='{% url 'index' %}'>
      Contactanos
    </a>
  </div>
</section>

</div>



<section class="about_section layout_padding">
<div class="about_container">
  <div class="container">
    <div class="detail">
      <h2 class="custom_heading">
        Nosotros
      </h2>
      <p>
        Somos un centro de estética especializado en tratamientos láser, 
        botox y PRP (plasma rico en plaquetas), con +10 años de experiencia en Medicina Estética.
        <br/><br/>            
        En nuestro centro de estética vas a encontrar las técnicas para mejorar tu salud, 
        tu estética y bienestar más elegidos en todo el mundo, siempre a cargo de profesionales con experiencia, 
        con equipos de última generación, y en un espacio agradable. 
      </p>
      <div>
        <a href='{% url 'index' %}'>
          +info 
        </a>
      </div>
    </div>

  </div>
</div>
</section>



<section class="product_section layout_padding">
<div class="d-flex justify-content-center">
  <h2 class="custom_heading">
    Nuestros Tratamientos
  </h2>
</div>
<div class="container layout_padding2">
  <div class="img-box box-1">
    <img src="{% static 'publica/images/p-1.jpg' %}" alt="">
  </div>
  <div class="img-box box-2">
    <img src="{% static 'publica/images/p-2.jpg' %}" alt="">
  </div>
  <div class="img-box box-3">
    <img src="{% static 'publica/images/p-3.jpg' %}" alt="">
  </div>
  <div class="img-box box-4">
    <img src="{% static 'publica/images/p-4.jpg' %}" alt="">
  </div>
</div>
<div class="d-flex justify-content-center">
  <a href="tratamientos.html">
    +info
  </a>
</div>
</section>


<section class="why_section layout_padding">
<div class="container">
  <div class="d-flex flex-column align-items-center text-center">
    <h2 class="custom_heading ">
      Por que elegirnos
    </h2>
    <p class="">
      Beauty Skin es uno de los centros de estética más reconocidos en Capital Federal para el cuidado, 
      mejoramiento de la salud, formas corporales y estética tanto de la mujer como del hombre. 
      <br/><br/>
      Nos avalan más de 10 años de experiencia en el rubro de la medicina estética, ofreciendo una variedad 
      de tratamientos con técnicas que siempre adecuamos a las particularidades de cada paciente.
      <br/><br/>
      Nuestro centro trabaja a diario para brindar un asesoramiento personalizado, con entrevistas de asesoramiento. 
      Con un excelente equilibrio entre precios y calidad profesional en los tratamientos, aseguramos que Beauty Skin es medicina estética al alcance de todos. 
      <br/><br/>
      En nuestro centro de estética vas a encontrar las técnicas para mejorar tu salud, tu estética y bienestar más elegidos en todo el mundo, 
      siempre a cargo de profesionales con experiencia, con equipos de última generación, y en un espacio agradable. 
      <br/><br/>
      Por ejemplo, tratamientos para reducir la celulitis, las manchas en la piel, las arrugas y la flaccidez, técnicas de rejuvenecimiento, 
      peeling, tratamiento de la alopecia, mesoterapia, rellenos faciales, drenaje de líquidos, meso lifting, radiofrecuencia, microdermoabrasion, 
      depilación, definitiva, drenaje linfático manual, ultracavitación, hidrolipoclasia, criolipolisis, y mucho más. 
      <br/><br/>
      Esperamos tu consulta.

    </p>
  </div>
</div>
 <div class="why_container my-4">
  <div class="img_box">
    <img src="{% static 'publica/images/why-img.jpg' %}" alt="">
  </div>
</div>

</section>


<section class="contact_section layout_padding">
<div class="container">
  <div class="col-md-6">
    <div class="d-flex mb-4 ml-4 ml-md-0">
      <h2 class="custom_heading text-center">
        CONTACTANOS
      </h2>
    </div>
    <form id=form name="form" action="https://formspree.io/f/meqwdbkk" method="POST">
      <div>
        <input type="text" name="name" placeholder="nombre" required> 
      </div>
      <div>
       <input type="email" name="_replyto" placeholder="Email" required>
      </div>
      <div>
        <input type="number" name="telefono" placeholder="Teléfono" required>
        
      </div>
      <div>
        <input type="mensaje" name="mensaje" class="message-box" placeholder="Mensaje" required>
      </div>
      <div class="d-flex justify-content-center mt-4 ">
      <button type="submit" class="btn btn-primary mb-2">Enviar</button>
    </div>
    </form>
  </div>
</div>

</section>


<section class="client_section layout_padding">
<div class="d-flex justify-content-center">
  <h2 class="custom_heading">
    Experiencias
  </h2>
</div>
<div class="container">
  <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
    <ol class="carousel-indicators">
      <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
      <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
      <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
    </ol>
    <div class="carousel-inner">
      <div class="carousel-item active">
        <div class="client_container layout_padding">
          <div class="detail_box">
            
            <p>
              Mi #ExperienciaBeautySkin fue y es genial. No sólo cambié mi aspecto físico, aprendí a valorarme y cambiar hábitos, 
              entre otras buenas cosas que a veces no sabemos que nos hacen tan bien. 
              No sólo te ves mejor por fuera sino interiormente, que eso es muy importante también, porque sólo vos lo ves y sentís. 
              Por eso estoy eternamente agradecida a Beauty Skin, a todas las profes que cada en sesión te apoyan y te dan la fuerza para continuar, 
              y a Gise que fue el punto clave con su explicación cuando fuí por primera vez... Gracias BS por existir ❤
            </p>
          </div>
        </div>
      </div>
      <div class="carousel-item">
        <div class="client_container layout_padding">
         <div class="detail_box">
            <p>
              Llegué a Beauty Skin hace 3 años, básicamente buscando hacer algo para modelar y bajar de peso.
              Si bien cumplí ya esos objetivos, hoy Figurella es para mí mucho más que un espacio de ejercicio, 
              es MI espacio en el cual encuentro momentos placenteros, desestresantes, sumé amigas... 
              Todo eso hace de Beauty Skin un espacio perfecto y necesario en mi rutina.
              Además, la atención de Olga y de Mónica es sumamente importante en ese SENTIRSE TAN A GUSTO ALLÍ
            </p>
          </div>
        </div>
      </div>
      <div class="carousel-item">
        <div class="client_container layout_padding">
          <div class="detail_box">
            
            <p>
              Venir a Beauty Skin es mi momento personal del día.
              El cambio es increíble!! Si seguís tu rutina y los consejos que te dan modelás a full. 
              Las profes son lo más... Me alegran las mañanas!!
            </p>
          </div>
        </div>
      </div>
    </div>

  </div>

</div>
</section>


<section class="info_section layout_padding">
<div class="container layout_padding-top  layout_padding2-bottom">
  <div class="logo-box">
    <a href="index.html">
      <img src="/static/images/logo.png" alt="">
    </a>
  </div>
</section>

{% endblock %}

{% block scripts %}
    <script> 
  
    const $form = document.querySelector('#form') 
  
    $form.addEventListener('submit',handleSubmit)
    
    async function handleSubmit(event) {
      event.preventDefault()
      const form = new FormData(this)
      const response = await fetch(this.action, {
        method: this.method,
        body: form,
        headers: {
          'Accept': 'application/json'
        }
      })
      if (response.ok) {
        this.reset()
        alert('Muchas gracias por contactarnos, estaremos respondiendo a la brevedad')
      }
    }
    </script>
{% endblock %}
