{% extends "base.html" %}
 {% load static %} 

 {% block title %}Contáctanos{% endblock %}

 {% block content %}
<section class="contact_section layout_padding">
  <div class="container">
    <div class="col-md-6">
      <div class="d-flex mb-4 ml-4 ml-md-0">
        <h2 class="custom_heading text-center">CONTACTANOS</h2>
      </div>
      <form
      action="{% url 'contacto' %}"
      method="POST">
      {% csrf_token %}
      {{ contacto_form.as_p }}
        <div class="d-flex justify-content-center mt-4">
          <button type="submit" class="btn btn-primary mb-2">Enviar</button>
        </div>
      </form>
    </div>
  </div>
</section>

<section class="info_section layout_padding">
  <div class="container layout_padding-top layout_padding2-bottom">
    <div class="logo-box">
      <a href="{% url 'index' %}">
        <img src="{% static 'publica/images/logo.png' %}" alt="" />
      
      </a>
    </div>
    {% endblock %}
  </div>
</section>
