{% extends "base.html" %}
{% load static %}


{% block title %}Experiencias{% endblock %}


{% block content %}

 
  <section class="client_section layout_padding">
    <div class="d-flex justify-content-center">
      <h2 class="custom_heading">
        Experiencias
      </h2>
    </div>
    <div class="container">
      <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
        <ol class="carousel-indicators">
          <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
          <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
          <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
        </ol>
        <div class="carousel-inner">
          <div class="carousel-item active">
            <div class="client_container layout_padding">
        
              <div class="detail_box">
                
                <p>
                  Mi #ExperienciaBeautySkin fue y es genial. No sólo cambié mi aspecto físico, aprendí a valorarme y cambiar hábitos, 
                  entre otras buenas cosas que a veces no sabemos que nos hacen tan bien. 
                  No sólo te ves mejor por fuera sino interiormente, que eso es muy importante también, porque sólo vos lo ves y sentís. 
                  Por eso estoy eternamente agradecida a Beauty Skin, a todas las profes que cada en sesión te apoyan y te dan la fuerza para continuar, 
                  y a Gise que fue el punto clave con su explicación cuando fuí por primera vez... Gracias BS por existir ❤
                </p>
              </div>
            </div>
          </div>
          <div class="carousel-item">
            <div class="client_container layout_padding">
        
              <div class="detail_box">
                
                <p>
                  Llegué a Beauty Skin hace 3 años, básicamente buscando hacer algo para modelar y bajar de peso.
                  Si bien cumplí ya esos objetivos, hoy Figurella es para mí mucho más que un espacio de ejercicio, 
                  es MI espacio en el cual encuentro momentos placenteros, desestresantes, sumé amigas... 
                  Todo eso hace de Beauty Skin un espacio perfecto y necesario en mi rutina.
                  Además, la atención de Olga y de Mónica es sumamente importante en ese SENTIRSE TAN A GUSTO ALLÍ
                </p>
              </div>
            </div>
          </div>
          <div class="carousel-item">
            <div class="client_container layout_padding">
       
              <div class="detail_box">
               
                <p>
                  Venir a Beauty Skin es mi momento personal del día.
                  El cambio es increíble!! Si seguís tu rutina y los consejos que te dan modelás a full. 
                  Las profes son lo más... Me alegran las mañanas!!
                </p>
              </div>
            </div>
          </div>
        </div>

      </div>

    </div>
  </section>


  {% endblock %}