{% extends "base.html" %} 
{% load static %}


{% block title %}Listado de tratamientos{% endblock %}

{% block content %}
<div class="container center">
<h2>Listado de tratamientos</h2>
<ul>
    {% for nombre_usuario in listado_tratamientos %}
        <li>
            <p>{{ nombre_usuario| title }}</p>
        </li>
    {% empty %}
        <p>Sin pacientes inscriptos</p>
    {% endfor %}
</ul>

{% if cant_tratamientos > 0 %}
    <p>cantidad de tratamientos: {{cant_tratamientos}}</p>
{% else %}
    <p>No hay inscriptos</p>
{% endif %}
</div>
{% endblock %}
