{% extends "base.html" %}
 {% load static %} 

 {% block title %}Listado de Tratamientos{% endblock %}

 {% block content %}
        <h2 class="custom_heading text-center">Listado de Tratamientos</h2>
        <ul>
        {% for tratamientos in listado_tratamientos %}
        <li>

          <p>{{ tratamientos.descripcion}}</p>

        </li>
        {% empty %}
        <p>Sin tratamientos</p>
        {% endfor %}
        </ul>
<section class="info_section layout_padding">
  <div class="container layout_padding-top layout_padding2-bottom">
    <div class="logo-box">
      <a href="{% url 'index' %}">
        <img src="{% static 'publica/images/logo.png' %}" alt="" />
      
      </a>
    </div>
    {% endblock %}
  </div>
</section>
