{% extends "baseapp.html" %}
 {% load static %} 

 {% block title %}Eliminación de Turnos{% endblock %}
 {% block section_title %}Eliminación de Turnos{% endblock %}

 {% block content %}
 
  <div class="card">
    <div class="card-body">
      <form method="post">{% csrf_token %}
        <p>Esta seguro que quiere eliminar este ítem "{{ object.descripcion }}"?</p>
        <input type="submit" value="Confirmar" class="btn btn-sm btn-danger">
        <a href="{% url 'iturnos_listado' %}"  class="btn btn-sm btn-info">Volver</a>
    </form>
    </div>
</div>
      {% endblock %}

